body {
  font: 400 15px/1.8 Lato, sans-serif;
  color: #777;
}
h3{
  margin: 10px 0 30px 0;
  letter-spacing: 0.5px;      
  font-size: 20px;
  color: #111;
  font-weight: bold;
}
.container {
  padding: 80px 120px;
}
.carousel-inner img {
  width: 100%; /* Set width to 100% */
  margin: auto;
}
.carousel-caption p {
  margin-top: 60px;
  margin-bottom: 110px;
  margin-left: 10px;
  padding-top: 10px;
  padding-bottom: 60px;
  padding-left: 20px;
  background-color: #000;
  color: #fff !important;
  opacity: 0.8;
  width: 550px;
  height: 50px;
  text-align: left;
  font-size: 20px;
  line-height: 25px;
}
.carousel-indicators {
  padding-bottom: 60px;
}
@media (max-width: 600px) {
  .carousel-caption {
  display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
  }
}
.navbar {
  font-family: Oswald, sans-serif;
  margin-bottom: 0;
  background-color: #fff;
  border: 0;
  color: #000;
  font-size: 12px !important;
  letter-spacing: 4px;
}
.navbar-header {
  padding-left: 200px;
}
.navbar-brand {
  color: #000;
  font-weight: bold;
}
.navbar li a, .navbar .navbar-brand { 
  color: #000;
}
.navbar-nav li a:hover {
  color: #000 !important;
  background-color: #ccc !important;
}
.navbar-nav li.active a {
  color: #000 !important;
  background-color: #ccc !important;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
}
.navbar-all {
  padding-left: 750px;
}
.open .dropdown-toggle {
  color: #fff;
  background-color: #ccc;
  border-color: transparent;
}
.dropdown-menu li a {
  color: #000;
  margin-top: 10px;
  margin-right: 15px;
  padding-right: 10px;
}
.dropdown-menu li a:hover {
  background-color: #ccc;
  color: #fff;
}  
.bg-1 {
  background: #fff;
  color: #bdbdbd;
}
.bg-1 h3 {color: #2d2d30;}
.thumbnail {
  padding: 0 0 35px 0;
  border: 1px;
  border-radius: 0;
  width: 300px;
  height: 230px; 
}
.thumbnail h4 {
  color: #fff;
  font-size: 16px;
}
.thumbnail p {
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 5px;
  padding-right: 5px;
  color: #fff;
  font-size: 14px;
}
.thumbnail img {
  padding-top: 35px;
}
.form-control {
  border-radius: 0;
  width: 500px;
}
textarea {
  resize: none;
}
.btn {
  padding: 10px 20px;
  background-color: #6699cc;
  color: #f1f1f1;
  border-radius: 0;
  transition: .2s;
  width: 500px;
}
.btn:hover, .btn:focus {
  border: 1px solid #ccc;
  background-color: #666;
  color: #fff;
}
footer {
  background-color: #2d2d30;
  color: #f5f5f5;
  padding: 32px;
}
.socialmedia p{
  letter-spacing: 10px;
}
i.icon-twitter {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
i.icon-facebook {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
#success_message { 
  display: none;
}
#contact_form .has-error .control-label {
  color: #000;
}